# Renomeie este arquivo para ".env" e preencha com seus dados reais

PORT=3000
JWT_SECRET=troque_isto_por_um_segredo_bem_forte_e_aleatorio

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_NAME=aprenda_e_ganhe
DB_PORT=5432

# Valor mínimo de saque
WITHDRAWAL_MIN_USD=10
WITHDRAWAL_MIN_MTN=500
